@import "variables.less";
@import "mixins.less";

@menu-width:250px;

section.menu { width:250px; height:100%; position:fixed; z-index:@dialog-z-index; background:@tertiary-background; color:@secondary-font-colour; top:@header-height; left:@menu-width*-1; font-size:0.875em; .shadow; .transition(all ease @animation-speed);
	@link-height:40px;
	a { float:left; width:100%; padding:0 @spacing; .border-box; color:inherit !important; cursor:pointer; text-decoration:none; border-bottom:solid 1px @tertiary-border-colour;
		>* { float:left; .vertical-centre(@link-height); }
		>span { margin-left:@spacing; }
		>i.fa-angle-right { float:right; }
		>i.icon { font-size:1.25em; width:18px; text-align:center; }
	}
	a:hover { background:darken(@secondary-background, 15%); }
}
section.menu.visible { .transform(translate3d(@menu-width, 0, 0)); }