<div class="new-log-container">
	<dropdown class="shadow" placeholder="Collection..." options="collections.list" empty-allowed></dropdown>
	<input type="text" class="tile" placeholder="Name..." />
	<div class="measurements entries tile">
		<span class="empty">No measurements added</span>
		<div ng-repeat="measurement in measurements.list">
			<div>
				<span class="name">[[measurement.name]]</span>
				<span class="value">[[measurement.value]]</span>
			</div>
		</div>
		<button class="link" ng-click="measurements.show()">Add Measurement</button>
	</div>

	<div class="tags entries tile">
		<span class="empty">No tags added</span>
		<div>
			<div>
				<span class="name">Sunny</span>
				<i class="fa fa-times"></i>
			</div>
			<div>
				<span class="name">Easy</span>
				<i class="fa fa-times"></i>
			</div>
		</div>
		<button class="link">Add Tag</button>
	</div>

	<button>Save Log</button>

	<modal class="add-measurement" header="Add Measurement" close="measurements.hide" show="measurements.visible">
		<form name="addMeasurement">
			<input class="input" placeholder="* Name..." name="name" ng-model="measurements.new.name" required />
			<input type="number" placeholder="* Quantity..." name="quantity" ng-model="measurements.new.quantity" required />
			<input type="text" placeholder="Units..." ng-model="measurements.new.units" />
			<button ng-click="measurements.add(addMeasurement)" ng-disabled="addMeasurement.$invalid">Save</button>
		</form>
	</modal>
</div>