<div class="new-log-container">
	<dropdown placeholder="Collection..." options="collections.list" empty-allowed></dropdown>
	<input type="text" class="tile" placeholder="Name..." />
	<div class="measurements entries tile">
		<div ng-repeat="measurement in measurements.list">
			<div>
				<span class="name">[[measurement.name]]</span>
				<div class="icon-container">
					<i class="fa fa-times"></i>
				</div>
				<span class="value">[[measurement.value]]</span>
			</div>
		</div>
		<button class="link" ng-click="measurements.add()">Add Measurement</button>
	</div>

	<div class="tags entries tile">
		<div ng-repeat="tag in tags.list">
			<div>
				<span class="name">[[tag.name]]</span>
				<div class="icon-container">
					<i class="fa fa-times"></i>
				</div>
			</div>
		</div>
		<button class="link" ng-click="tags.add()">Add Tag</button>
	</div>

	<button ng-click="save()">Save Log</button>
</div>