<header>
	<a class="fa fa-bars" id="menu-trigger"></a>
	<h3 class="title">New Tag</h3>
</header>

<div class="new-tag-container">
	<div class="tile">
		<ng-form name="form">
			<info-input type="text" focus="newTagLoaded" tabindex="1" placeholder="Name..." name="name"  ng-model="name" required info="The name describes the tag.<br /><br />For example, if you're logging a run, a good name for a tag might be 'sunny', 'race', or 'pulled hamstring' if you're me."></info-input>
			<div class="button-container">
				<button class="link" tabindex="4" ng-click="cancel()"><i class="fa fa-times"></i></button>
				<button tabindex="5" ng-click="add()"><i class="fa fa-check"></i></button>
			</div>
		</ng-form>
	</div>
</div>