@import "../variables.less";
@import "../mixins.less";

@tile-width:376px;

div.logs-container { margin:auto; width:@tile-width;
	>log-tile { float:left; width:100%; margin-bottom:@spacing; }
	>log-tile:last-child { margin-bottom:0; }
	>div.spinner-container { display:none; width:100%; text-align:center; margin-top:100px; }
}

div.logs-container.loading {
	>log-tile { display:none; }
	>div.spinner-container { display:block; }
}