body { margin:0; padding:0; .regular-font; font-size:16px; background:#F0F0F0; overflow-x:hidden; }

h1, h2, h3, h4, h5 { padding:0; margin:0; }
h1, h2 { .condensed-font; text-transform:uppercase; }
h1 { font-size:1.5em; }
h2 { font-size:1.375em; }

input { border:solid 1px @border-colour; padding:@spacing; font-size:0.875em; .border-radius; .regular-font; background:white !important;  }
input.ng-invalid { border:solid 1px red;  }
input.ng-invalid.ng-pristine { border:solid 1px @border-colour; }

.placeholder { color:@placeholder-colour; }
::-moz-placeholder { color:@placeholder-colour; }
:-ms-input-placeholder { color:@placeholder-colour; }
::-webkit-input-placeholder { color:@placeholder-colour; }

i.icon-button { text-align:center; background:@header-background; color:@header-font-colour; cursor:pointer; .border-radius; padding:0 @spacing; .vertical-centre(40px); }

section.content-container { padding:@spacing; .border-box; }
