@import "../variables.less";
@import "../mixins.less";

header { float:left; width:100%; height:@header-height; .shadow; background:@secondary-background; color:@secondary-font-colour; position:fixed; z-index:2; display:none;
  	>a, >h3 { .vertical-centre(@header-height) !important; }
	>a { font-size:1.375em; padding:0 @spacing; cursor:pointer; width:19px; text-align:center; text-decoration:none; color:inherit; }

  	.fa-bars { float:left; }
  	.fa-plus, .fa-tasks { float:right; }

  	>h3 { float:left; }
}

body.signedIn header { display:block; }