button { height:@button-height; line-height:@button-height; padding:0; text-align:center; .condensed-font; text-transform:uppercase; font-weight:bold; color:white; background:@header-background; border:none; font-size:1em; .border-radius; cursor:pointer; margin:0; -webkit-appearance:none; outline:none; }
button.link { background:transparent; color:@primary-font-colour; text-decoration:underline; font-size:0.875em; }
button.loading { font-size:0; background:#909090; cursor:default; }
button.loading::before { margin:auto; margin-top:10px; .spinner; }
