.new-log-container {
	div.tile.new { float:left; width:100%;
	  	>* { float:left; width:100%; .border-box; margin-top:@small-spacing; }
	  	>*:first-child { margin-top:0; }

	  	>div.icon-button-container { width:25%; padding-left:@spacing;
			>i { float:left; width:100%; .border-box; border:solid 1px @border-colour; color:@header-background; .border-radius; text-align:center; .vertical-centre(40px); cursor:pointer; }
		}
	  	>div.icon-button-container.first { padding-left:0; }
	}
}