.new-log-container {
	>* { float:left; width:100%; margin-top:@spacing !important; .border-box; }
  	>*:first-child { margin-top:0; }

  	>div.select { height:@input-height+2; }

  	>div.entries {
		>span.empty { float:left; width:100%; font-style:italic; color:@primary-font-colour-light; text-align:center; font-size:0.875em; padding:@spacing 0; }
	  	>button { float:left; width:100%; margin-top:@spacing; }
	}
}