@import "../variables.less";
@import "../mixins.less";

slideshow {
	@picture-height:200px;
	>div.slideshow { float:left; width:100%; height:@picture-height; padding:0; position:relative; overflow-x:hidden;
		>div.spinner-container { display:none !important; width:100%; text-align:center; .vertical-centre(@picture-height); }
		>div.image-container { position:absolute; z-index:1; width:100%; background:black; height:100%; overflow:hidden; background-position:center; background-size:cover;
			&.next { .transform(translate3d(100%, 0, 0)); }
			&.sliding { .transform(translate3d(-100%, 0, 0)); .transition(all ease 1s); }
			&.next.sliding { .transform(translate3d(0, 0, 0)); }
		}
	}
	>div.slideshow.loading {
		>div.spinner-container { display:inline-block !important; }
		>div.image-container { display:none; }
	}
}